{% extends 'Mailroom/Nav.html' %}
{% block content %}


  <style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Style the counter cards */
  .card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 10px;
    text-align: center;
    background-color: #f1f1f1;
  }
  </style>

  <div class="row">
      {% for Package in Packages %}


    <div class="column">

    <div class="card-body">
        <center><h5 class="card-title">{{Package.RollNo}}</h5>
        <a href="/Mailroom/{{Package.id}}/" class="btn btn-primary">View Meil</a></center>
      </div>
      </div>

      {%endfor%}
      </div>
      </div>

{% endblock %}
